<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Photographers Here</h1>
    <form action="/users" method='POST'>
    <input type="text" name="name" />Name<br/>
    <input type="text" username="username" />Username<br/>
    <input type="text" password="password"/>Password
    <input type="submit" value="Create Account"/>
    </form>
</body>
</html>