<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a></li>
    </nav>
    <h1> <%= users.name %>'s Photos</h1>
    <nav>
        <ul> 
            <li><a href="/users/<%=users.id%>/edit">Edit</a></li>
            </ul>
        </nav>
    
</body>
</html>